{% extends 'base.html.twig' %}

{% block title %}Index{% endblock %}

{% block stylesheets %}{% endblock %}

{% block body %}
    <h2>Ajouter un article! </h2>

    {{ form_start(form) }}
    {{ form_row(form.name) }}
    <button class="btn">{{ button_label|default('Save') }}</button>
    {{ form_end(form) }}

    <h2>All Categories</h2>

    {% for category in categories %}
        <div>
            <h2>{{ loop.index }} / {{ category.id }} : {{category.name }}</h2>
        </div>
    {% endfor %}

    <a href="{{ path('homepage') }}">
        Back to homepage.
    </a>




{% endblock %}

