{% extends 'base.html.twig' %}

{% block title %}Index{% endblock %}

{% block body %}
    <h2>Ajouter un article! </h2>

    {{ form_start(form) }}
    {{ form_row(form.name) }}
    <button class="btn">{{ button_label|default('Save') }}</button>
    {{ form_end(form) }}

    <h2>All Categories</h2>

    {% for category in categories %}
        <div>
            <h3>{{ loop.index }} / <a href="/category/{{ category.id }}">{{ category.id }} : {{category.name }}</a></h3>
        </div>
    {% endfor %}

{% endblock %}

